@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.container {
  width: 75vw;
  max-width: 80rem;
  min-height: 40vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border-radius: 20px;
}

header {
  font-family: "Dancing Script", serif;
  /* font-family: "Raleway", sans-serif; */
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
  /* font-weight: 400; */
  font-style: italic;
  letter-spacing: 3px;
  color: fuchsia;
}

.add_task {
  padding: 1rem;
  font-size: 1.6rem;
}

input {
  width: 100%;
  height: 3.5rem;
  /* font-family: "Kalam", cursive; */
  font-family: "Itim", cursive;

  /* !--- */
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color 0.24s, box-shadow 0.24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

input:focus {
  outline: none;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

#add_button {
  width: 100%;
  border-radius: 10px;
  border-color: #efdac4;
  margin-top: 0.5rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #ff90e8;
  overflow: hidden;
  transition: all 0.14s ease-out;
  /* font-family: "Kalam", cursive; */
  font-family: "Itim", cursive;
}

#add_button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(4px, 2px);
}

.counter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.count_ToDo {
  padding-left: 0.5rem;
}

.complatedToDo {
  padding-left: 1rem;
}

.count_Comp {
  padding-left: 0.5rem;
}

.reset {
  padding-left: 1rem;
}

.fa-power-off {
  color: gold;
}

.fa-power-off:hover {
  color: red;
}

.list_task {
  font-size: 1.6rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
}

li p {
  width: 100%;
  /* padding: 0 1.6rem; */
  padding: 0 0 0 1.6rem;
}

ul li:nth-child(even) {
  background-color: rgba(162, 230, 230, 0.5);
}

li:hover {
  /* tt Her ikiside olur */
  /* transform: translate(3px, 2px); */
  translate: 3px 2px;
}

.fa-circle-check.special,
.fa-square-minus {
  /* color: oldlace; */
  transition: all 0.3s;
  stroke: #ff90e8;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.fa-circle-check.special:hover {
  /* color: green; */
  color: fuchsia;
}

.fa-square-minus:hover {
  color: red;
}

.fa-edit {
  /* padding-right: 1rem; */
  padding: 0 1rem;
}

.faCheckIcon {
  font-size: 2rem;
}

.edit-input {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  margin: 0 1rem;
  /* height: 50px; */
  border-radius: 5px;
  /* padding: 0 1rem; */
  outline: none;
  border: none;
  background-color: #3a425764;
  color: inherit;
  box-shadow: #f0ddbc95 0px 2px 6px 0px;
}

li.checked .fa-circle-check {
  /* color: green; */
  color: fuchsia;
}

li.checked p {
  /* color: green; */
  /* color: white; */
  text-decoration: line-through white 1.5px;
  /* font-size: 1.4rem; */
}

i {
  cursor: pointer;
}

.none {
  display: none;
}

.power-off {
  position: relative;
  display: inline-block;
  background: transparent;
  border: none;
}

.power-off[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  text-align: start;
  left: 150%;
  z-index: 100;
  /* width: min-content; */
  width: max-content;
  border-radius: 10px;
  margin-top: 5px;
  font-style: italic;
  color: red;
  font-weight: 700;
  border: 1px solid red;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.option-todos-div {
  margin-left: 1rem;
}

.select-el {
  /* border: none; */
  outline: none;
  background-color: transparent;
  color: inherit;
}

.select-el option {
  background-color: #53707b;
  margin: 0;
  padding: 0;
}

.select-el option:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}



@media screen and (max-width: 460px) {
  /* .counter {
    justify-content: space-evenly;
  } */

  /* .totalToDo {
    display: none;
  } */

  /* .complatedToDo {
    display: none;
  } */

  .reset {
    display: none;
  }

  .none {
    display: inline-block;
    padding-left: 0.5rem;
  }

  .power-off {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 266px) {
  .counter {
    justify-content: flex-start;
    row-gap: 5px;
  }
}

@media screen and (max-width: 840px) {
  .power-off[data-title]:hover::after {
    width: min-content;
  }
}
